<div class="bg-base list-bg">
  <div class="d-flex justify-content-between align-items-center py-6 px-6">
    <div><img src="/assets/images/08-icon/bell.svg" alt="" /></div>
    <h1 class="fs-20 fw-bold text-center list-name">聊天</h1>
    <div><img src="/assets/images/08-icon/search.svg" alt="" /></div>
  </div>
  <div
    class="d-flex friend-list py-5 ms-5 gap-4 overflow-auto hide-scrollbar pt-6"
  >
    <img
      src="/assets/images/07-Match-slide/2x/chatroom-list/Chatphoto-1@2x.png"
      alt=""
    />
    <img
      src="/assets/images/07-Match-slide/2x/chatroom-list/chatroom-image2@2x.png"
      alt=""
    />
    <img
      src="/assets/images/07-Match-slide/2x/chatroom-list/chatroom-image3@2x.png"
      alt=""
    />
    <img
      src="/assets/images/07-Match-slide/2x/chatroom-list/chatroom-image4@2x.png"
      alt=""
    />
    <img
      src="/assets/images/07-Match-slide/2x/chatroom-list/chatroom-image4@2x.png"
      alt=""
    />
  </div>
  <div class="list-card px-5 position-relative">
    <div class="d-flex align-items-center justify-content-between">
      <span class="list-msg fs-6 fw-bold list-name">訊息</span>
      <span class="list-msg-disable fw-bold list-name"> 已失效</span>
    </div>
    <div class="list-talk">
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="d-flex align-items-center py-2">
          <img
            src="/assets/images/07-Match-slide/2x/chatroom-list/Chatphoto-1@2x.png"
            alt=""
            class="me-5"
          />
          <div>
            <span class="d-block fs-6 fw-bold list-name">Sarah </span>
            <span class="friend-msg">哈囉，很開心認識你 :)</span>
          </div>
        </div>
        <div class="text-center">
          <span class="msg-number rounded-circle fw-bold px-2">1</span>
          <span class="friend-time fs-10 d-block">19:23</span>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="d-flex align-items-center py-2">
          <img
            src="/assets/images/07-Match-slide/2x/chatroom-list/Chatphoto-2@2x.png"
            alt=""
            class="me-5"
          />
          <div>
            <span class="d-block fs-6 fw-bold list-name">Lilley</span>
            <span class="friend-msg">哈囉，很開心認識你 :)</span>
          </div>
        </div>
        <div class="text-center">
          <span class="friend-time fs-10 d-block">15:01</span>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="d-flex align-items-center py-2">
          <img
            src="/assets/images/07-Match-slide/2x/chatroom-list/Chatphoto-3@2x.png"
            alt=""
            class="me-5"
          />
          <div>
            <span class="d-block fs-6 fw-bold list-name">DDDD</span>
            <span class="friend-msg">理我理我理我理我理我</span>
          </div>
        </div>
        <div class="text-center">
          <span class="msg-number rounded-pill fw-bold px-2">16</span>
          <span class="friend-time fs-10 d-block">13:17</span>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="d-flex align-items-center py-2">
          <img
            src="/assets/images/07-Match-slide/2x/chatroom-list/Chatphoto-4@2x.png"
            alt=""
            class="me-5"
          />
          <div>
            <span class="d-block fs-6 fw-bold list-name">AAA</span>
            <span class="friend-msg">哈囉，很開心認識你 :)</span>
          </div>
        </div>
        <div class="text-center">
          <span class="msg-number rounded-circle fw-bold px-2">2</span>
          <span class="friend-time fs-10 d-block">13:17</span>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="d-flex align-items-center py-2">
          <img
            src="/assets/images/07-Match-slide/2x/chatroom-list/Chatphoto-5@2x.png"
            alt=""
            class="me-5"
          />
          <div>
            <span class="d-block fs-6 fw-bold list-name">Ben</span>
            <span class="friend-msg">哈囉，很開心認識你 :)</span>
          </div>
        </div>
        <div class="text-center">
          <span class="friend-time fs-10 d-block">19:23</span>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="d-flex align-items-center py-2">
          <img
            src="/assets/images/07-Match-slide/2x/chatroom-list/Chatphoto-6@2x.png"
            alt=""
            class="me-5"
          />
          <div>
            <span class="d-block fs-6 fw-bold list-name">CC</span>
            <span class="friend-msg">哈囉，很開心認識你 :)</span>
          </div>
        </div>
        <div class="text-center">
          <span class="friend-time fs-10 d-block">19:23</span>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="d-flex align-items-center py-2">
          <img
            src="/assets/images/07-Match-slide/2x/chatroom-list/Chatphoto-7@2x.png"
            alt=""
            class="me-5"
          />
          <div>
            <span class="d-block fs-6 fw-bold list-name">MOMOMO</span>
            <span class="friend-msg">哈囉，很開心認識你 :)</span>
          </div>
        </div>
        <div class="text-center">
          <span class="msg-number rounded-circle fw-bold px-2">2</span>
          <span class="friend-time fs-10 d-block">3:17</span>
        </div>
      </div>
    </div>
  </div>
</div>
